*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.main{
    background-image: url("./images/bg-intro-desktop.png");
    background-color:hsl(0, 100%, 74%);
    display:flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction:row;
    align-items:center;
    padding:4em 0;
    overflow:hidden;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

.cont{
    display:flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.text{
    padding-left:8vw;
    color:white;
}

.text h1{
    text-align:left;
    width:100%;
    font-size:3.5em;
    margin-bottom: 0.5em;
    font-weight:700;
}

.text p{
    text-align:left;
    width:90%;
    line-height:2;
}
.sub button{
    width:35vw;
    min-height:7vh;
    background-color:hsl(248, 32%, 49%);
    margin-bottom: 2em;
    text-align:center;
    color:white;
    border-radius: 0.9em;
    box-shadow: 0 8px 5px rgba(133, 132, 132, 0.561);;
}

.sub button:focus{
    border: none;
}

.sub button span{
    font-weight: 600;
}

.form_section{
    border-radius: 0.9em;
    width:35vw;
    background-color:white;
    box-shadow: 0 8px 5px rgba(133, 132, 132, 0.561);;
}

.form_section form{
    padding:1.5em;
    display:flex;
    flex-direction:column;
}

.form_section input{
    border-radius:0.5em;
    border: 0.01px solid hsl(246, 25%, 77%,0.5);
    height:3.5em;
    margin:1em 0.5em;
    outline:0;
    padding:2em;
}
.form_section input:focus{
    border: 1px solid hsl(249, 10%, 26%) ;
}

.form_section ::placeholder{
    color:hsl(249, 10%, 26%);
    font-weight:600;
    opacity: 0.8; 
}

.form_section button{
    height:3.5em;
    margin:1em auto;
    width:30vw;
    color:white;
    background-color: hsl(154, 59%, 51%);
    border:none;
    border-radius:5px;
    font-weight: 600;
    text-transform: uppercase;
}

.form_section p{
    font-size: 0.7em;
    color:hsl(246, 25%, 77%);
}

.form_section p span{
    color:red;
}

footer{
    margin:auto auto 0;
    opacity: 0;
}

.active{  
    color:red;
    text-align: right;
    margin-right:1em;
    font-size:0.8em;
}

.error{
    border-color: red;
}

@media only screen and (max-width: 951px){
    .main{
        background-image: url("./images/bg-intro-mobile.png");
        width:110vw;
    }
    .text{
        padding:4em 0.8em;    
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
    
    .text h1{
        text-align:center;
        font-size:1.8em;
        margin-bottom:1em;
    }
    
    .text p{
        text-align:center;
        line-height:1.8;
        margin-bottom:0;
    }

    .sub button{
        min-width:90vw;
        min-height:8vh;
        border-radius: 0.9em;
        padding:1em 3em;
        font-size:1em;
       
    }
    
    .form_section{  
        width:90vw;
    }
    
    .form_section form{
        padding:1em;
    }
    .form_section input{
        margin:0.8em 0.5em ;
    }
    
    .form_section button{
        width:95%;
        font-weight: 500;
    }
    
    .form_section p{
        margin: auto;
        width:80%;
        text-align:center;
    }
    
    .form_section p span{
        color:rgba(255, 0, 0, 0.4);
        font-weight: 700;
    } 

}